#boxUnitModal {

  .equipment {
    font-size: 125%;
  }

  .equip-holder {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 104px;
    height: 94px;

    img,
    span {
      cursor: pointer;
    }

    span.star {
      font-size: 125%;
    }
  }

  .unit-preview-holder {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 94px;
  }

  .star {
    color: gray;

    &.active {
      color: gold;
    }

    &.disabled {
      display: none;
    }
  }

  .unit-star-holder {
    border: none;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;

    .star {
      cursor: default;
      font-size: 200%;

      &.selectable {
        cursor: pointer;
      }
    }
  }

  #boxUnitNotesField {
    height: calc(6rem + 0.75rem + 2px);
  }
}
