.unit-icon {
&.u-100111 {background-position: -0px -0px; }
&.u-100131 {background-position: -64px -0px; }
&.u-100161 {background-position: -128px -0px; }
&.u-100211 {background-position: -192px -0px; }
&.u-100231 {background-position: -256px -0px; }
&.u-100261 {background-position: -320px -0px; }
&.u-100311 {background-position: -384px -0px; }
&.u-100331 {background-position: -448px -0px; }
&.u-100361 {background-position: -512px -0px; }
&.u-100411 {background-position: -576px -0px; }
&.u-100431 {background-position: -0px -64px; }
&.u-100461 {background-position: -64px -64px; }
&.u-100511 {background-position: -128px -64px; }
&.u-100531 {background-position: -192px -64px; }
&.u-100611 {background-position: -256px -64px; }
&.u-100631 {background-position: -320px -64px; }
&.u-100661 {background-position: -384px -64px; }
&.u-100711 {background-position: -448px -64px; }
&.u-100731 {background-position: -512px -64px; }
&.u-100811 {background-position: -576px -64px; }
&.u-100831 {background-position: -0px -128px; }
&.u-100911 {background-position: -64px -128px; }
&.u-100931 {background-position: -128px -128px; }
&.u-101011 {background-position: -192px -128px; }
&.u-101031 {background-position: -256px -128px; }
&.u-101061 {background-position: -320px -128px; }
&.u-101111 {background-position: -384px -128px; }
&.u-101131 {background-position: -448px -128px; }
&.u-101161 {background-position: -512px -128px; }
&.u-101211 {background-position: -576px -128px; }
&.u-101231 {background-position: -0px -192px; }
&.u-101261 {background-position: -64px -192px; }
&.u-101311 {background-position: -128px -192px; }
&.u-101331 {background-position: -192px -192px; }
&.u-101411 {background-position: -256px -192px; }
&.u-101431 {background-position: -320px -192px; }
&.u-101511 {background-position: -384px -192px; }
&.u-101531 {background-position: -448px -192px; }
&.u-101611 {background-position: -512px -192px; }
&.u-101631 {background-position: -576px -192px; }
&.u-101661 {background-position: -0px -256px; }
&.u-101711 {background-position: -64px -256px; }
&.u-101731 {background-position: -128px -256px; }
&.u-101761 {background-position: -192px -256px; }
&.u-101811 {background-position: -256px -256px; }
&.u-101831 {background-position: -320px -256px; }
&.u-101861 {background-position: -384px -256px; }
&.u-102011 {background-position: -448px -256px; }
&.u-102031 {background-position: -512px -256px; }
&.u-102061 {background-position: -576px -256px; }
&.u-102111 {background-position: -0px -320px; }
&.u-102131 {background-position: -64px -320px; }
&.u-102161 {background-position: -128px -320px; }
&.u-102211 {background-position: -192px -320px; }
&.u-102231 {background-position: -256px -320px; }
&.u-102261 {background-position: -320px -320px; }
&.u-102311 {background-position: -384px -320px; }
&.u-102331 {background-position: -448px -320px; }
&.u-102361 {background-position: -512px -320px; }
&.u-102511 {background-position: -576px -320px; }
&.u-102531 {background-position: -0px -384px; }
&.u-102561 {background-position: -64px -384px; }
&.u-102611 {background-position: -128px -384px; }
&.u-102631 {background-position: -192px -384px; }
&.u-102711 {background-position: -256px -384px; }
&.u-102731 {background-position: -320px -384px; }
&.u-102811 {background-position: -384px -384px; }
&.u-102831 {background-position: -448px -384px; }
&.u-102861 {background-position: -512px -384px; }
&.u-102911 {background-position: -576px -384px; }
&.u-102931 {background-position: -0px -448px; }
&.u-102961 {background-position: -64px -448px; }
&.u-103011 {background-position: -128px -448px; }
&.u-103031 {background-position: -192px -448px; }
&.u-103061 {background-position: -256px -448px; }
&.u-103111 {background-position: -320px -448px; }
&.u-103131 {background-position: -384px -448px; }
&.u-103211 {background-position: -448px -448px; }
&.u-103231 {background-position: -512px -448px; }
&.u-103261 {background-position: -576px -448px; }
&.u-103311 {background-position: -0px -512px; }
&.u-103331 {background-position: -64px -512px; }
&.u-103361 {background-position: -128px -512px; }
&.u-103411 {background-position: -192px -512px; }
&.u-103431 {background-position: -256px -512px; }
&.u-103461 {background-position: -320px -512px; }
&.u-103611 {background-position: -384px -512px; }
&.u-103631 {background-position: -448px -512px; }
&.u-103661 {background-position: -512px -512px; }
&.u-103711 {background-position: -576px -512px; }
&.u-103731 {background-position: -0px -576px; }
&.u-103811 {background-position: -64px -576px; }
&.u-103831 {background-position: -128px -576px; }
&.u-104011 {background-position: -192px -576px; }
&.u-104031 {background-position: -256px -576px; }
&.u-104061 {background-position: -320px -576px; }
&.u-104211 {background-position: -384px -576px; }
&.u-104231 {background-position: -448px -576px; }
&.u-104311 {background-position: -512px -576px; }
&.u-104331 {background-position: -576px -576px; }
&.u-104411 {background-position: -0px -640px; }
&.u-104431 {background-position: -64px -640px; }
&.u-104511 {background-position: -128px -640px; }
&.u-104531 {background-position: -192px -640px; }
&.u-104611 {background-position: -256px -640px; }
&.u-104631 {background-position: -320px -640px; }
&.u-104661 {background-position: -384px -640px; }
&.u-104711 {background-position: -448px -640px; }
&.u-104731 {background-position: -512px -640px; }
&.u-104811 {background-position: -576px -640px; }
&.u-104831 {background-position: -0px -704px; }
&.u-104861 {background-position: -64px -704px; }
&.u-104911 {background-position: -128px -704px; }
&.u-104931 {background-position: -192px -704px; }
&.u-104961 {background-position: -256px -704px; }
&.u-105011 {background-position: -320px -704px; }
&.u-105031 {background-position: -384px -704px; }
&.u-105111 {background-position: -448px -704px; }
&.u-105131 {background-position: -512px -704px; }
&.u-105211 {background-position: -576px -704px; }
&.u-105231 {background-position: -0px -768px; }
&.u-105261 {background-position: -64px -768px; }
&.u-105311 {background-position: -128px -768px; }
&.u-105331 {background-position: -192px -768px; }
&.u-105411 {background-position: -256px -768px; }
&.u-105431 {background-position: -320px -768px; }
&.u-105511 {background-position: -384px -768px; }
&.u-105531 {background-position: -448px -768px; }
&.u-105611 {background-position: -512px -768px; }
&.u-105631 {background-position: -576px -768px; }
&.u-105711 {background-position: -0px -832px; }
&.u-105731 {background-position: -64px -832px; }
&.u-105761 {background-position: -128px -832px; }
&.u-105811 {background-position: -192px -832px; }
&.u-105831 {background-position: -256px -832px; }
&.u-105861 {background-position: -320px -832px; }
&.u-105911 {background-position: -384px -832px; }
&.u-105931 {background-position: -448px -832px; }
&.u-105961 {background-position: -512px -832px; }
&.u-106011 {background-position: -576px -832px; }
&.u-106031 {background-position: -0px -896px; }
&.u-106061 {background-position: -64px -896px; }
&.u-106311 {background-position: -128px -896px; }
&.u-106331 {background-position: -192px -896px; }
&.u-106811 {background-position: -256px -896px; }
&.u-106831 {background-position: -320px -896px; }
&.u-107111 {background-position: -384px -896px; }
&.u-107131 {background-position: -448px -896px; }
&.u-107511 {background-position: -512px -896px; }
&.u-107531 {background-position: -576px -896px; }
&.u-107611 {background-position: -0px -960px; }
&.u-107631 {background-position: -64px -960px; }
&.u-107711 {background-position: -128px -960px; }
&.u-107731 {background-position: -192px -960px; }
&.u-107811 {background-position: -256px -960px; }
&.u-107831 {background-position: -320px -960px; }
&.u-107911 {background-position: -384px -960px; }
&.u-107931 {background-position: -448px -960px; }
&.u-108011 {background-position: -512px -960px; }
&.u-108031 {background-position: -576px -960px; }
&.u-unknown {background-position: -0px -1024px; }
}
.unit-pfp {
&.u-100111 {background-position: -0px -0px; }
&.u-100131 {background-position: -48px -0px; }
&.u-100161 {background-position: -96px -0px; }
&.u-100211 {background-position: -144px -0px; }
&.u-100231 {background-position: -192px -0px; }
&.u-100261 {background-position: -240px -0px; }
&.u-100311 {background-position: -288px -0px; }
&.u-100331 {background-position: -336px -0px; }
&.u-100361 {background-position: -384px -0px; }
&.u-100411 {background-position: -432px -0px; }
&.u-100431 {background-position: -0px -48px; }
&.u-100461 {background-position: -48px -48px; }
&.u-100511 {background-position: -96px -48px; }
&.u-100531 {background-position: -144px -48px; }
&.u-100611 {background-position: -192px -48px; }
&.u-100631 {background-position: -240px -48px; }
&.u-100661 {background-position: -288px -48px; }
&.u-100711 {background-position: -336px -48px; }
&.u-100731 {background-position: -384px -48px; }
&.u-100811 {background-position: -432px -48px; }
&.u-100831 {background-position: -0px -96px; }
&.u-100911 {background-position: -48px -96px; }
&.u-100931 {background-position: -96px -96px; }
&.u-101011 {background-position: -144px -96px; }
&.u-101031 {background-position: -192px -96px; }
&.u-101061 {background-position: -240px -96px; }
&.u-101111 {background-position: -288px -96px; }
&.u-101131 {background-position: -336px -96px; }
&.u-101161 {background-position: -384px -96px; }
&.u-101211 {background-position: -432px -96px; }
&.u-101231 {background-position: -0px -144px; }
&.u-101261 {background-position: -48px -144px; }
&.u-101311 {background-position: -96px -144px; }
&.u-101331 {background-position: -144px -144px; }
&.u-101411 {background-position: -192px -144px; }
&.u-101431 {background-position: -240px -144px; }
&.u-101511 {background-position: -288px -144px; }
&.u-101531 {background-position: -336px -144px; }
&.u-101611 {background-position: -384px -144px; }
&.u-101631 {background-position: -432px -144px; }
&.u-101661 {background-position: -0px -192px; }
&.u-101711 {background-position: -48px -192px; }
&.u-101731 {background-position: -96px -192px; }
&.u-101761 {background-position: -144px -192px; }
&.u-101811 {background-position: -192px -192px; }
&.u-101831 {background-position: -240px -192px; }
&.u-101861 {background-position: -288px -192px; }
&.u-102011 {background-position: -336px -192px; }
&.u-102031 {background-position: -384px -192px; }
&.u-102061 {background-position: -432px -192px; }
&.u-102111 {background-position: -0px -240px; }
&.u-102131 {background-position: -48px -240px; }
&.u-102161 {background-position: -96px -240px; }
&.u-102211 {background-position: -144px -240px; }
&.u-102231 {background-position: -192px -240px; }
&.u-102261 {background-position: -240px -240px; }
&.u-102311 {background-position: -288px -240px; }
&.u-102331 {background-position: -336px -240px; }
&.u-102361 {background-position: -384px -240px; }
&.u-102511 {background-position: -432px -240px; }
&.u-102531 {background-position: -0px -288px; }
&.u-102561 {background-position: -48px -288px; }
&.u-102611 {background-position: -96px -288px; }
&.u-102631 {background-position: -144px -288px; }
&.u-102711 {background-position: -192px -288px; }
&.u-102731 {background-position: -240px -288px; }
&.u-102811 {background-position: -288px -288px; }
&.u-102831 {background-position: -336px -288px; }
&.u-102861 {background-position: -384px -288px; }
&.u-102911 {background-position: -432px -288px; }
&.u-102931 {background-position: -0px -336px; }
&.u-102961 {background-position: -48px -336px; }
&.u-103011 {background-position: -96px -336px; }
&.u-103031 {background-position: -144px -336px; }
&.u-103061 {background-position: -192px -336px; }
&.u-103111 {background-position: -240px -336px; }
&.u-103131 {background-position: -288px -336px; }
&.u-103211 {background-position: -336px -336px; }
&.u-103231 {background-position: -384px -336px; }
&.u-103261 {background-position: -432px -336px; }
&.u-103311 {background-position: -0px -384px; }
&.u-103331 {background-position: -48px -384px; }
&.u-103361 {background-position: -96px -384px; }
&.u-103411 {background-position: -144px -384px; }
&.u-103431 {background-position: -192px -384px; }
&.u-103461 {background-position: -240px -384px; }
&.u-103611 {background-position: -288px -384px; }
&.u-103631 {background-position: -336px -384px; }
&.u-103661 {background-position: -384px -384px; }
&.u-103711 {background-position: -432px -384px; }
&.u-103731 {background-position: -0px -432px; }
&.u-103811 {background-position: -48px -432px; }
&.u-103831 {background-position: -96px -432px; }
&.u-104011 {background-position: -144px -432px; }
&.u-104031 {background-position: -192px -432px; }
&.u-104061 {background-position: -240px -432px; }
&.u-104211 {background-position: -288px -432px; }
&.u-104231 {background-position: -336px -432px; }
&.u-104311 {background-position: -384px -432px; }
&.u-104331 {background-position: -432px -432px; }
&.u-104411 {background-position: -0px -480px; }
&.u-104431 {background-position: -48px -480px; }
&.u-104511 {background-position: -96px -480px; }
&.u-104531 {background-position: -144px -480px; }
&.u-104611 {background-position: -192px -480px; }
&.u-104631 {background-position: -240px -480px; }
&.u-104661 {background-position: -288px -480px; }
&.u-104711 {background-position: -336px -480px; }
&.u-104731 {background-position: -384px -480px; }
&.u-104811 {background-position: -432px -480px; }
&.u-104831 {background-position: -0px -528px; }
&.u-104861 {background-position: -48px -528px; }
&.u-104911 {background-position: -96px -528px; }
&.u-104931 {background-position: -144px -528px; }
&.u-104961 {background-position: -192px -528px; }
&.u-105011 {background-position: -240px -528px; }
&.u-105031 {background-position: -288px -528px; }
&.u-105111 {background-position: -336px -528px; }
&.u-105131 {background-position: -384px -528px; }
&.u-105211 {background-position: -432px -528px; }
&.u-105231 {background-position: -0px -576px; }
&.u-105261 {background-position: -48px -576px; }
&.u-105311 {background-position: -96px -576px; }
&.u-105331 {background-position: -144px -576px; }
&.u-105411 {background-position: -192px -576px; }
&.u-105431 {background-position: -240px -576px; }
&.u-105511 {background-position: -288px -576px; }
&.u-105531 {background-position: -336px -576px; }
&.u-105611 {background-position: -384px -576px; }
&.u-105631 {background-position: -432px -576px; }
&.u-105711 {background-position: -0px -624px; }
&.u-105731 {background-position: -48px -624px; }
&.u-105761 {background-position: -96px -624px; }
&.u-105811 {background-position: -144px -624px; }
&.u-105831 {background-position: -192px -624px; }
&.u-105861 {background-position: -240px -624px; }
&.u-105911 {background-position: -288px -624px; }
&.u-105931 {background-position: -336px -624px; }
&.u-105961 {background-position: -384px -624px; }
&.u-106011 {background-position: -432px -624px; }
&.u-106031 {background-position: -0px -672px; }
&.u-106061 {background-position: -48px -672px; }
&.u-106311 {background-position: -96px -672px; }
&.u-106331 {background-position: -144px -672px; }
&.u-106811 {background-position: -192px -672px; }
&.u-106831 {background-position: -240px -672px; }
&.u-107111 {background-position: -288px -672px; }
&.u-107131 {background-position: -336px -672px; }
&.u-107511 {background-position: -384px -672px; }
&.u-107531 {background-position: -432px -672px; }
&.u-107611 {background-position: -0px -720px; }
&.u-107631 {background-position: -48px -720px; }
&.u-107711 {background-position: -96px -720px; }
&.u-107731 {background-position: -144px -720px; }
&.u-107811 {background-position: -192px -720px; }
&.u-107831 {background-position: -240px -720px; }
&.u-107911 {background-position: -288px -720px; }
&.u-107931 {background-position: -336px -720px; }
&.u-108011 {background-position: -384px -720px; }
&.u-108031 {background-position: -432px -720px; }
&.u-unknown {background-position: -0px -768px; }
}
.unit-ddicon {
&.u-100111 {background-position: -0px -0px; }
&.u-100131 {background-position: -32px -0px; }
&.u-100161 {background-position: -64px -0px; }
&.u-100211 {background-position: -96px -0px; }
&.u-100231 {background-position: -128px -0px; }
&.u-100261 {background-position: -160px -0px; }
&.u-100311 {background-position: -192px -0px; }
&.u-100331 {background-position: -224px -0px; }
&.u-100361 {background-position: -256px -0px; }
&.u-100411 {background-position: -288px -0px; }
&.u-100431 {background-position: -0px -32px; }
&.u-100461 {background-position: -32px -32px; }
&.u-100511 {background-position: -64px -32px; }
&.u-100531 {background-position: -96px -32px; }
&.u-100611 {background-position: -128px -32px; }
&.u-100631 {background-position: -160px -32px; }
&.u-100661 {background-position: -192px -32px; }
&.u-100711 {background-position: -224px -32px; }
&.u-100731 {background-position: -256px -32px; }
&.u-100811 {background-position: -288px -32px; }
&.u-100831 {background-position: -0px -64px; }
&.u-100911 {background-position: -32px -64px; }
&.u-100931 {background-position: -64px -64px; }
&.u-101011 {background-position: -96px -64px; }
&.u-101031 {background-position: -128px -64px; }
&.u-101061 {background-position: -160px -64px; }
&.u-101111 {background-position: -192px -64px; }
&.u-101131 {background-position: -224px -64px; }
&.u-101161 {background-position: -256px -64px; }
&.u-101211 {background-position: -288px -64px; }
&.u-101231 {background-position: -0px -96px; }
&.u-101261 {background-position: -32px -96px; }
&.u-101311 {background-position: -64px -96px; }
&.u-101331 {background-position: -96px -96px; }
&.u-101411 {background-position: -128px -96px; }
&.u-101431 {background-position: -160px -96px; }
&.u-101511 {background-position: -192px -96px; }
&.u-101531 {background-position: -224px -96px; }
&.u-101611 {background-position: -256px -96px; }
&.u-101631 {background-position: -288px -96px; }
&.u-101661 {background-position: -0px -128px; }
&.u-101711 {background-position: -32px -128px; }
&.u-101731 {background-position: -64px -128px; }
&.u-101761 {background-position: -96px -128px; }
&.u-101811 {background-position: -128px -128px; }
&.u-101831 {background-position: -160px -128px; }
&.u-101861 {background-position: -192px -128px; }
&.u-102011 {background-position: -224px -128px; }
&.u-102031 {background-position: -256px -128px; }
&.u-102061 {background-position: -288px -128px; }
&.u-102111 {background-position: -0px -160px; }
&.u-102131 {background-position: -32px -160px; }
&.u-102161 {background-position: -64px -160px; }
&.u-102211 {background-position: -96px -160px; }
&.u-102231 {background-position: -128px -160px; }
&.u-102261 {background-position: -160px -160px; }
&.u-102311 {background-position: -192px -160px; }
&.u-102331 {background-position: -224px -160px; }
&.u-102361 {background-position: -256px -160px; }
&.u-102511 {background-position: -288px -160px; }
&.u-102531 {background-position: -0px -192px; }
&.u-102561 {background-position: -32px -192px; }
&.u-102611 {background-position: -64px -192px; }
&.u-102631 {background-position: -96px -192px; }
&.u-102711 {background-position: -128px -192px; }
&.u-102731 {background-position: -160px -192px; }
&.u-102811 {background-position: -192px -192px; }
&.u-102831 {background-position: -224px -192px; }
&.u-102861 {background-position: -256px -192px; }
&.u-102911 {background-position: -288px -192px; }
&.u-102931 {background-position: -0px -224px; }
&.u-102961 {background-position: -32px -224px; }
&.u-103011 {background-position: -64px -224px; }
&.u-103031 {background-position: -96px -224px; }
&.u-103061 {background-position: -128px -224px; }
&.u-103111 {background-position: -160px -224px; }
&.u-103131 {background-position: -192px -224px; }
&.u-103211 {background-position: -224px -224px; }
&.u-103231 {background-position: -256px -224px; }
&.u-103261 {background-position: -288px -224px; }
&.u-103311 {background-position: -0px -256px; }
&.u-103331 {background-position: -32px -256px; }
&.u-103361 {background-position: -64px -256px; }
&.u-103411 {background-position: -96px -256px; }
&.u-103431 {background-position: -128px -256px; }
&.u-103461 {background-position: -160px -256px; }
&.u-103611 {background-position: -192px -256px; }
&.u-103631 {background-position: -224px -256px; }
&.u-103661 {background-position: -256px -256px; }
&.u-103711 {background-position: -288px -256px; }
&.u-103731 {background-position: -0px -288px; }
&.u-103811 {background-position: -32px -288px; }
&.u-103831 {background-position: -64px -288px; }
&.u-104011 {background-position: -96px -288px; }
&.u-104031 {background-position: -128px -288px; }
&.u-104061 {background-position: -160px -288px; }
&.u-104211 {background-position: -192px -288px; }
&.u-104231 {background-position: -224px -288px; }
&.u-104311 {background-position: -256px -288px; }
&.u-104331 {background-position: -288px -288px; }
&.u-104411 {background-position: -0px -320px; }
&.u-104431 {background-position: -32px -320px; }
&.u-104511 {background-position: -64px -320px; }
&.u-104531 {background-position: -96px -320px; }
&.u-104611 {background-position: -128px -320px; }
&.u-104631 {background-position: -160px -320px; }
&.u-104661 {background-position: -192px -320px; }
&.u-104711 {background-position: -224px -320px; }
&.u-104731 {background-position: -256px -320px; }
&.u-104811 {background-position: -288px -320px; }
&.u-104831 {background-position: -0px -352px; }
&.u-104861 {background-position: -32px -352px; }
&.u-104911 {background-position: -64px -352px; }
&.u-104931 {background-position: -96px -352px; }
&.u-104961 {background-position: -128px -352px; }
&.u-105011 {background-position: -160px -352px; }
&.u-105031 {background-position: -192px -352px; }
&.u-105111 {background-position: -224px -352px; }
&.u-105131 {background-position: -256px -352px; }
&.u-105211 {background-position: -288px -352px; }
&.u-105231 {background-position: -0px -384px; }
&.u-105261 {background-position: -32px -384px; }
&.u-105311 {background-position: -64px -384px; }
&.u-105331 {background-position: -96px -384px; }
&.u-105411 {background-position: -128px -384px; }
&.u-105431 {background-position: -160px -384px; }
&.u-105511 {background-position: -192px -384px; }
&.u-105531 {background-position: -224px -384px; }
&.u-105611 {background-position: -256px -384px; }
&.u-105631 {background-position: -288px -384px; }
&.u-105711 {background-position: -0px -416px; }
&.u-105731 {background-position: -32px -416px; }
&.u-105761 {background-position: -64px -416px; }
&.u-105811 {background-position: -96px -416px; }
&.u-105831 {background-position: -128px -416px; }
&.u-105861 {background-position: -160px -416px; }
&.u-105911 {background-position: -192px -416px; }
&.u-105931 {background-position: -224px -416px; }
&.u-105961 {background-position: -256px -416px; }
&.u-106011 {background-position: -288px -416px; }
&.u-106031 {background-position: -0px -448px; }
&.u-106061 {background-position: -32px -448px; }
&.u-106311 {background-position: -64px -448px; }
&.u-106331 {background-position: -96px -448px; }
&.u-106811 {background-position: -128px -448px; }
&.u-106831 {background-position: -160px -448px; }
&.u-107111 {background-position: -192px -448px; }
&.u-107131 {background-position: -224px -448px; }
&.u-107511 {background-position: -256px -448px; }
&.u-107531 {background-position: -288px -448px; }
&.u-107611 {background-position: -0px -480px; }
&.u-107631 {background-position: -32px -480px; }
&.u-107711 {background-position: -64px -480px; }
&.u-107731 {background-position: -96px -480px; }
&.u-107811 {background-position: -128px -480px; }
&.u-107831 {background-position: -160px -480px; }
&.u-107911 {background-position: -192px -480px; }
&.u-107931 {background-position: -224px -480px; }
&.u-108011 {background-position: -256px -480px; }
&.u-108031 {background-position: -288px -480px; }
&.u-unknown {background-position: -0px -512px; }
}
.unit-icon-stars {
&.s-0 {background-position: 0px -0px; }
&.s-1 {background-position: 0px -10px; }
&.s-2 {background-position: 0px -20px; }
&.s-3 {background-position: 0px -30px; }
&.s-4 {background-position: 0px -40px; }
&.s-5 {background-position: 0px -50px; }
}
