@import "../components/position_selector";
@import "../components/box_unit_modal";

.box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 20px;

  .box-header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;

    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid black;
      position: absolute;
      bottom: -5px;
      left: 0px;
      right: 10px;
    }

    .actions {
      text-align: right;
    }
  }

  .box-units {
    margin-top: 20px;

    div {
      cursor: pointer;
      margin-right: 5px;
    }

    .box-units-add {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
      background-image: url("../images/add_chara.png");
      background-size: 64px;
    }
  }
}

#addUnitModal {
  .modal-content {
    height: 500px;
  }

  .unit-filter-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

#inventoryModal {
  #inventoryHolder {
    display: block;
    width: 100%;
    .inventory-editor-item {
      display: inline-block;
      width: 52px;
      text-align: center;
      padding: 2px 2px;

      img {
        width: 48px;
      }

      input {
        font-size: 75%;
        padding: 0.125rem 0.125rem;
      }

    }
  }

}
