.col-boss {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}

.hitlog {
  height: 140px;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  .hit {
    height: 40px;
    border-bottom: 1px solid gray;
    font-size: 90%;
    .info {
      text-align: left;
    }
    .timestamp {
      text-align: right;
      font-size: 80%;
      color: gray;
      font-style: italic;
    }
  }
}

#hitLogTable {
  font-size: 80%;
}

#hitsUsedTable {
  font-size: 80%;
  td {
    padding: 0.1rem 0.75rem;
  }
  td[data-hits="0"] {
    background-color: red;
  }
  td[data-hits="0.5"] {
    background-color: orangered;
  }
  td[data-hits="1"] {
    background-color: darkorange;
  }
  td[data-hits="1.5"] {
    background-color: orange;
  }
  td[data-hits="2"] {
    background-color: yellow;
  }
  td[data-hits="2.5"] {
    background-color: greenyellow;
  }
  td[data-hits="3"] {
    background-color: limegreen;
  }
}
