@import "components/loading";
@import "components/image_radio";
@import "components/unit_icons";
@import "components/unit_icon_positions";
@import "components/box_header";

@import "pages/box";
@import "pages/clanbattle";

body {
  padding-top: 80px;
}

.inline-button,
.clickable {
  cursor: pointer;
}

.template {
  display: none;
}

.select2-container--bootstrap .select2-selection__clear {
  text-align: center;
  padding-left: 0;
}

.select2-container--bootstrap  .select2-selection--single {
  height: calc(2em + 0.75rem + 2px);
  line-height: 2;
}

.discriminator {
  font-size: 80%;
  color: gray;
}

div.slidable {
  display: none;
}

.w-15 {
  width: 15%;
}

.w-55 {
  width: 55%;
}

.elevated-button-holder {
  z-index: 3;
  position: relative;
}