@import "components/loading";
@import "components/image_radio";
@import "components/unit_icons";
@import "components/unit_icon_positions";
@import "components/box_header";
@import "components/checkbox_slider";

@import "pages/box";
@import "pages/clanbattle";

body {
  padding-top: 80px;
}

.inline-button,
.clickable {
  cursor: pointer;
}

.template {
  display: none;
}

.select2-container--bootstrap .select2-selection__clear {
  text-align: center;
  padding-left: 0;
}

.select2-container--bootstrap .select2-selection--single {
  height: calc(2em + 0.75rem + 2px);
  line-height: 2;
}

.discriminator {
  font-size: 80%;
  color: gray;
}

div.slidable {
  display: none;
}

.w-15 {
  width: 15%;
}

.w-55 {
  width: 55%;
}

.elevated-button-holder {
  z-index: 3;
  position: relative;
}

.cells-middle {
  td {
    vertical-align: middle;
  }
}

span.grippy {
  box-sizing: initial;
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
span.grippy::after {
  content: '.. .. .. ..';
}

.underline-dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.form-check-inline div {
  padding-left: 0.8rem;
  &:first-child {
    padding-left: 0;
  }
  input {
    margin-right: 0.25rem;
  }
}
