@import "components/loading";
@import "components/image_radio";
@import "components/unit_icons";
@import "components/unit_icon_positions";
@import "components/box_header";

@import "pages/box";

body {
  padding-top: 80px;
}

.inline-button,
.clickable {
  cursor: pointer;
}

.template {
  display: none;
}

.select2-container--bootstrap4 .select2-selection__clear {
  text-align: center;
  padding-left: 0;
}

.discriminator {
  font-size: 80%;
  color: gray;
}

div.slidable {
  display: none;
}
