{% extends 'rong/layout.html' %}
{% load rong_common %}
{% load unit_icons %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ clan.name }} - Edit Clan Battle{% endblock %}

{% block content %}
    <h2>{{ clan.name }} &gt; <a href="{% url 'rong:clan_list_battles' clan.slug %}">Clan Battles</a> &gt; Edit Clan Battle</h2>
    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' bound_css_class='' %}
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </form>
{% endblock %}