{% extends 'rong/layout.html' %}
{% load rong_common %}
{% load unit_icons %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}Manage Clan Battle - {{ battle.name }}{% endblock %}

{% block content %}
    <h2>{{ clan.name }} &gt; <a href="{% url 'rong:clan_list_battles' clan.slug %}">Clan Battles</a> &gt; Manage Clan
        Battle - {{ battle.name }}</h2>
    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item"><a href="#basic-details" data-toggle="tab"
                                class="nav-link small active">Basic Details</a></li>
        <li class="nav-item"><a href="#hit-groups" data-toggle="tab" class="nav-link small">Hit
            Groups</a></li>
    </ul>
    <br>
    <div id="tabsContent" class="tab-content">
        <div id="basic-details" class="tab-pane active show">
            <form role="form" method="post" action="">
                {% csrf_token %}
                {% bootstrap_form detailsform layout='horizontal' bound_css_class='' %}
                {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
            </form>
        </div>
        <div id="hit-groups" class="tab-pane">
            {% if battle.hit_groups.all %}
                <h3>Current Hit Groups</h3>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th># of Hits</th>
                        {# <th># of Comps</th> #}
                        <th>Actions</th>
                    </tr>
                    {% for group in battle.hit_groups.all %}
                        <tr data-name="{{ group.name }}">
                            <td>{{ group.name }}</td>
                            <td>{{ group.description }}</td>
                            <td>{{ group.hits.count }}</td>
                            {# <td>{{ group.comps.count }}</td> #}
                            <td>
                                <a href="{% url 'rong:clan_edit_hit_group' clan.slug battle.id group.id %}"
                                   class="btn btn-primary" title="Edit"><i class="fa fa-edit"></i></a>
                                {% if group.hits.count %}
                                    <button class="btn btn-danger" disabled
                                            title="Cannot delete group with tagged hits"><i class="fa fa-remove"></i></button>
                                {% else %}
                                    <button class="btn btn-danger delete-group-button"
                                            data-url="{% url 'rong:clan_edit_hit_group' clan.slug battle.id group.id %}"
                                            title="Delete"><i class="fa fa-remove"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <hr>
            {% endif %}
            <h3>Add Hit Group</h3>
            <form role="form" method="post" action="{% url 'rong:clan_add_hit_group' clan.slug battle.id %}">
                {% csrf_token %}
                {% bootstrap_form hgform layout='horizontal' bound_css_class='' %}
                {% buttons submit='OK' %}{% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}