{% extends 'rong/layout.html' %}
{% load unit_icons %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ clan.name }} - Manage Members{% endblock %}

{% block content %}
    <h2>{{ clan.name }} &gt; Members</h2>
    <table class="table dt w-100 dt-noPaging">
    <thead>
    <tr>
        <th>Member</th>
        <th>Lead?</th>
        <th>Group</th>
        <th>Box</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for member in clan.members.all %}
        <tr>
        <td>{{ member.user.discordname }}</td>
        <td>
            {% if member.user_id == clan.collection.owner_id %}
            Owner
            {% elif member.user_id == clan.admin_id %}
            Leader
            {% elif member.is_lead %}
            Yes
            {% else %}
            No
            {% endif %}
        </td>
        <td>{{ member.group_num }}</td>
        <td>{{ member.box.id }}</td>
        <td>Do Shit</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
