{% extends 'rong/layout.html' %}
{% load humanize %}
{% load rong_common %}
{% load unit_icons %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ clan.name }} - Manage Members{% endblock %}

{% block content %}
    <div class="row header mb-3">
        <div class="col-md-6">
            <h2>{{ clan.name }} &gt; Members</h2>
        </div>
        <div class="col-md-6 text-right">
            {% if show_add %}
                <button type="button" class="btn btn-primary" id="addMemberBtn">Add Member</button>
            {% endif %}
        </div>
    </div>

    {{ boxes|json_script:"boxData" }}
    <h3>Active Members</h3>
    <table class="table dt w-100 dt-noPaging" id="memberListTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Discord</th>
            <th>Player ID</th>
            <th>Lead?</th>
            <th>Box</th>
            <th>Last Box Update</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for member in active_members %}
            <tr data-id="{{ member.id }}">
                <td class="member-ign">{{ member.ign }}</td>
                <td class="member-discord">
                    {% if member.user %}
                        {{ member.user.discordname }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="member-pid">
                    {% if member.out_of_clan %}
                        Outside clan
                    {% else %}
                        {{ member.formatted_id }}
                    {% endif %}
                </td>
                <td class="member-lead">
                    {% if member.user_id == clan.admin_id %}
                        Leader
                    {% elif member.is_lead %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-primary show-member-box">Show</button>
                </td>
                <td class="member-box-update" data-sort="
                        {% if member.box.last_update %}{{ member.box.last_update|date:"U" }}{% else %}0{% endif %}">
                    {% if member.box.last_update %}
                        {{ member.box.last_update|naturaltime }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-primary edit-member">Edit Details</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>

    <h3>Inactive Members</h3>
    <table class="table dt w-100 dt-noPaging" id="memberListInactiveTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Discord</th>
            <th>Player ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for member in inactive_members %}
            <tr data-id="{{ member.id }}">
                <td class="member-ign">{{ member.ign }}</td>
                <td class="member-discord">
                    {% if member.user %}
                        {{ member.user.discordname }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="member-pid">{{ member.formatted_id }}</td>
                <td>
                    <button type="button" class="btn btn-primary edit-member">Edit Details</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="memberModalLabel">Edit Member Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="memberForm">
                        {% csrf_token %}
                        {% bootstrap_field form.ign layout='horizontal' %}
                        {% bootstrap_field form.player_id layout='horizontal' %}
                        {% bootstrap_field form.discord layout='horizontal' %}
                        {% if form.is_lead %}
                            {% bootstrap_field form.is_lead layout='horizontal' %}
                        {% endif %}
                        {% if form.active %}
                            {% bootstrap_field form.active layout='horizontal' %}
                        {% endif %}
                        {% if form.out_of_clan %}
                            {% bootstrap_field form.out_of_clan layout='horizontal' %}
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="memberSaveBtn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none api" data-api-url="{{ request.path }}"></div>
    {% include "rong/includes/box_editing.html" %}
    <div class="template box" id="boxTemplate">
        <div class="row header box-header">
            <div class="col-md-4">
                <h2 class="name"></h2>
            </div>
            <div class="col-md-8 actions"></div>
        </div>
        <div class="box-units"></div>
    </div>
{% endblock %}
