{% extends 'rong/layout.html' %}

{% load box %}
{% load static %}
{% load bootstrap4 %}

{% block title %}My Boxes{% endblock %}

{% block content %}
    <div class="row header mb-3">
        <div class="col-md-6">
            <h2>My Boxes</h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary box-create" id="createBoxBtn">Create
                Box
            </button>
        </div>
    </div>

    <div id="boxes">
    </div>

    {{ boxes|json_script:"boxData" }}


    <div class="template box" id="boxTemplate">
        <div class="row header box-header">
            <div class="col-md-6">
                <h2 class="name"></h2>
            </div>
            <div class="col-md-6 actions"></div>
        </div>
        <div class="box-units"></div>
    </div>

    {% include "rong/includes/box_editing.html" %}

{% endblock %}