body {
  padding-top: 80px;
}

.inline-button, .clickable {
  cursor: pointer;
}

.unit-icon, .unit-pfp {
  display: inline-block;
  position: relative;
}

.unit-icon {
  width: 64px;
  height: 64px;
  background-size: 640px;
}

.unit-pfp {
  width: 48px;
  height: 48px;
  background-size: 480px;
  border-radius: 24px;
  border: 1px solid transparent;
}

html.no-webp .unit-icon, html.no-webp .unit-pfp {
  background-image: url('../images/unit_icon_sheet.png');
}

html.webp .unit-icon, html.webp .unit-pfp {
  background-image: url('../images/unit_icon_sheet.webp');
}

.unit-icon-border {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-size: 64px;
  border: none;
}

.unit-icon-border.white {
  background-image: url('../images/border_white.png');
}

.unit-icon-border.blue {
  background-image: url('../images/border_blue.png');
}

.unit-icon-border.bronze {
  background-image: url('../images/border_bronze.png');
}

.unit-icon-border.silver {
  background-image: url('../images/border_silver.png');
}

.unit-icon-border.gold {
  background-image: url('../images/border_gold.png');
}

.unit-icon-border.purple {
  background-image: url('../images/border_purple.png');
}

.unit-icon-stars {
  position: absolute;
  left: 5.58%;
  bottom: 5%;
  width: 42px;
  height: 10px;
  background-image: url('../images/icon_stars.png');
}

.image-radio {
  display: inline-block;
  margin-right: 5px;
}

.image-radio [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.image-radio [type=radio]+div i {
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.image-radio [type=radio]:checked+div i {
  box-shadow: 0px 0px 10px 0px #119600;
}

.box-units {
  margin-top: 20px;
}

.box-units div {
  cursor: pointer;
  margin-right: 5px;
}

.box-units-add {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  background-image: url('../images/add_chara.png');
  background-size: 64px;
}

ul.position-selector {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 18px 18px;
  height: 36px;
  padding-left: 0;
  list-style: none;
  width: max-content;
  margin-bottom: 0;
}

ul.position-selector li {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

ul.position-selector li:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

ul.position-selector li:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

ul.position-selector li:not(:first-child) {
  border-left: 3px solid black;
}

ul.position-selector li img {
  height: 24px;
  margin-right: 3px;
}

ul.position-selector li.active {
  background-color: blue;
  color: white;
}

#addUnitModal .modal-content {
  height: 500px;
}

.box-header {
  display: flex;
}

.unit-filter-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
