.unit-icon-100111 {background-position: -0px -0px; }
.unit-pfp-100111 {background-position: -0px -0px; }
.unit-icon-100131 {background-position: -64px -0px; }
.unit-pfp-100131 {background-position: -48px -0px; }
.unit-icon-100211 {background-position: -128px -0px; }
.unit-pfp-100211 {background-position: -96px -0px; }
.unit-icon-100231 {background-position: -192px -0px; }
.unit-pfp-100231 {background-position: -144px -0px; }
.unit-icon-100311 {background-position: -256px -0px; }
.unit-pfp-100311 {background-position: -192px -0px; }
.unit-icon-100331 {background-position: -320px -0px; }
.unit-pfp-100331 {background-position: -240px -0px; }
.unit-icon-100411 {background-position: -384px -0px; }
.unit-pfp-100411 {background-position: -288px -0px; }
.unit-icon-100431 {background-position: -448px -0px; }
.unit-pfp-100431 {background-position: -336px -0px; }
.unit-icon-100511 {background-position: -512px -0px; }
.unit-pfp-100511 {background-position: -384px -0px; }
.unit-icon-100531 {background-position: -576px -0px; }
.unit-pfp-100531 {background-position: -432px -0px; }
.unit-icon-100611 {background-position: -0px -64px; }
.unit-pfp-100611 {background-position: -0px -48px; }
.unit-icon-100631 {background-position: -64px -64px; }
.unit-pfp-100631 {background-position: -48px -48px; }
.unit-icon-100711 {background-position: -128px -64px; }
.unit-pfp-100711 {background-position: -96px -48px; }
.unit-icon-100731 {background-position: -192px -64px; }
.unit-pfp-100731 {background-position: -144px -48px; }
.unit-icon-100811 {background-position: -256px -64px; }
.unit-pfp-100811 {background-position: -192px -48px; }
.unit-icon-100831 {background-position: -320px -64px; }
.unit-pfp-100831 {background-position: -240px -48px; }
.unit-icon-100911 {background-position: -384px -64px; }
.unit-pfp-100911 {background-position: -288px -48px; }
.unit-icon-100931 {background-position: -448px -64px; }
.unit-pfp-100931 {background-position: -336px -48px; }
.unit-icon-101011 {background-position: -512px -64px; }
.unit-pfp-101011 {background-position: -384px -48px; }
.unit-icon-101031 {background-position: -576px -64px; }
.unit-pfp-101031 {background-position: -432px -48px; }
.unit-icon-101111 {background-position: -0px -128px; }
.unit-pfp-101111 {background-position: -0px -96px; }
.unit-icon-101131 {background-position: -64px -128px; }
.unit-pfp-101131 {background-position: -48px -96px; }
.unit-icon-101211 {background-position: -128px -128px; }
.unit-pfp-101211 {background-position: -96px -96px; }
.unit-icon-101231 {background-position: -192px -128px; }
.unit-pfp-101231 {background-position: -144px -96px; }
.unit-icon-101311 {background-position: -256px -128px; }
.unit-pfp-101311 {background-position: -192px -96px; }
.unit-icon-101331 {background-position: -320px -128px; }
.unit-pfp-101331 {background-position: -240px -96px; }
.unit-icon-101411 {background-position: -384px -128px; }
.unit-pfp-101411 {background-position: -288px -96px; }
.unit-icon-101431 {background-position: -448px -128px; }
.unit-pfp-101431 {background-position: -336px -96px; }
.unit-icon-101511 {background-position: -512px -128px; }
.unit-pfp-101511 {background-position: -384px -96px; }
.unit-icon-101531 {background-position: -576px -128px; }
.unit-pfp-101531 {background-position: -432px -96px; }
.unit-icon-101611 {background-position: -0px -192px; }
.unit-pfp-101611 {background-position: -0px -144px; }
.unit-icon-101631 {background-position: -64px -192px; }
.unit-pfp-101631 {background-position: -48px -144px; }
.unit-icon-101711 {background-position: -128px -192px; }
.unit-pfp-101711 {background-position: -96px -144px; }
.unit-icon-101731 {background-position: -192px -192px; }
.unit-pfp-101731 {background-position: -144px -144px; }
.unit-icon-101811 {background-position: -256px -192px; }
.unit-pfp-101811 {background-position: -192px -144px; }
.unit-icon-101831 {background-position: -320px -192px; }
.unit-pfp-101831 {background-position: -240px -144px; }
.unit-icon-102011 {background-position: -384px -192px; }
.unit-pfp-102011 {background-position: -288px -144px; }
.unit-icon-102031 {background-position: -448px -192px; }
.unit-pfp-102031 {background-position: -336px -144px; }
.unit-icon-102111 {background-position: -512px -192px; }
.unit-pfp-102111 {background-position: -384px -144px; }
.unit-icon-102131 {background-position: -576px -192px; }
.unit-pfp-102131 {background-position: -432px -144px; }
.unit-icon-102211 {background-position: -0px -256px; }
.unit-pfp-102211 {background-position: -0px -192px; }
.unit-icon-102231 {background-position: -64px -256px; }
.unit-pfp-102231 {background-position: -48px -192px; }
.unit-icon-102311 {background-position: -128px -256px; }
.unit-pfp-102311 {background-position: -96px -192px; }
.unit-icon-102331 {background-position: -192px -256px; }
.unit-pfp-102331 {background-position: -144px -192px; }
.unit-icon-102511 {background-position: -256px -256px; }
.unit-pfp-102511 {background-position: -192px -192px; }
.unit-icon-102531 {background-position: -320px -256px; }
.unit-pfp-102531 {background-position: -240px -192px; }
.unit-icon-102611 {background-position: -384px -256px; }
.unit-pfp-102611 {background-position: -288px -192px; }
.unit-icon-102631 {background-position: -448px -256px; }
.unit-pfp-102631 {background-position: -336px -192px; }
.unit-icon-102711 {background-position: -512px -256px; }
.unit-pfp-102711 {background-position: -384px -192px; }
.unit-icon-102731 {background-position: -576px -256px; }
.unit-pfp-102731 {background-position: -432px -192px; }
.unit-icon-102811 {background-position: -0px -320px; }
.unit-pfp-102811 {background-position: -0px -240px; }
.unit-icon-102831 {background-position: -64px -320px; }
.unit-pfp-102831 {background-position: -48px -240px; }
.unit-icon-102911 {background-position: -128px -320px; }
.unit-pfp-102911 {background-position: -96px -240px; }
.unit-icon-102931 {background-position: -192px -320px; }
.unit-pfp-102931 {background-position: -144px -240px; }
.unit-icon-103011 {background-position: -256px -320px; }
.unit-pfp-103011 {background-position: -192px -240px; }
.unit-icon-103031 {background-position: -320px -320px; }
.unit-pfp-103031 {background-position: -240px -240px; }
.unit-icon-103111 {background-position: -384px -320px; }
.unit-pfp-103111 {background-position: -288px -240px; }
.unit-icon-103131 {background-position: -448px -320px; }
.unit-pfp-103131 {background-position: -336px -240px; }
.unit-icon-103211 {background-position: -512px -320px; }
.unit-pfp-103211 {background-position: -384px -240px; }
.unit-icon-103231 {background-position: -576px -320px; }
.unit-pfp-103231 {background-position: -432px -240px; }
.unit-icon-103311 {background-position: -0px -384px; }
.unit-pfp-103311 {background-position: -0px -288px; }
.unit-icon-103331 {background-position: -64px -384px; }
.unit-pfp-103331 {background-position: -48px -288px; }
.unit-icon-103411 {background-position: -128px -384px; }
.unit-pfp-103411 {background-position: -96px -288px; }
.unit-icon-103431 {background-position: -192px -384px; }
.unit-pfp-103431 {background-position: -144px -288px; }
.unit-icon-103611 {background-position: -256px -384px; }
.unit-pfp-103611 {background-position: -192px -288px; }
.unit-icon-103631 {background-position: -320px -384px; }
.unit-pfp-103631 {background-position: -240px -288px; }
.unit-icon-103711 {background-position: -384px -384px; }
.unit-pfp-103711 {background-position: -288px -288px; }
.unit-icon-103731 {background-position: -448px -384px; }
.unit-pfp-103731 {background-position: -336px -288px; }
.unit-icon-103811 {background-position: -512px -384px; }
.unit-pfp-103811 {background-position: -384px -288px; }
.unit-icon-103831 {background-position: -576px -384px; }
.unit-pfp-103831 {background-position: -432px -288px; }
.unit-icon-104011 {background-position: -0px -448px; }
.unit-pfp-104011 {background-position: -0px -336px; }
.unit-icon-104031 {background-position: -64px -448px; }
.unit-pfp-104031 {background-position: -48px -336px; }
.unit-icon-104211 {background-position: -128px -448px; }
.unit-pfp-104211 {background-position: -96px -336px; }
.unit-icon-104231 {background-position: -192px -448px; }
.unit-pfp-104231 {background-position: -144px -336px; }
.unit-icon-104311 {background-position: -256px -448px; }
.unit-pfp-104311 {background-position: -192px -336px; }
.unit-icon-104331 {background-position: -320px -448px; }
.unit-pfp-104331 {background-position: -240px -336px; }
.unit-icon-104411 {background-position: -384px -448px; }
.unit-pfp-104411 {background-position: -288px -336px; }
.unit-icon-104431 {background-position: -448px -448px; }
.unit-pfp-104431 {background-position: -336px -336px; }
.unit-icon-104511 {background-position: -512px -448px; }
.unit-pfp-104511 {background-position: -384px -336px; }
.unit-icon-104531 {background-position: -576px -448px; }
.unit-pfp-104531 {background-position: -432px -336px; }
.unit-icon-104611 {background-position: -0px -512px; }
.unit-pfp-104611 {background-position: -0px -384px; }
.unit-icon-104631 {background-position: -64px -512px; }
.unit-pfp-104631 {background-position: -48px -384px; }
.unit-icon-104711 {background-position: -128px -512px; }
.unit-pfp-104711 {background-position: -96px -384px; }
.unit-icon-104731 {background-position: -192px -512px; }
.unit-pfp-104731 {background-position: -144px -384px; }
.unit-icon-104811 {background-position: -256px -512px; }
.unit-pfp-104811 {background-position: -192px -384px; }
.unit-icon-104831 {background-position: -320px -512px; }
.unit-pfp-104831 {background-position: -240px -384px; }
.unit-icon-104911 {background-position: -384px -512px; }
.unit-pfp-104911 {background-position: -288px -384px; }
.unit-icon-104931 {background-position: -448px -512px; }
.unit-pfp-104931 {background-position: -336px -384px; }
.unit-icon-105011 {background-position: -512px -512px; }
.unit-pfp-105011 {background-position: -384px -384px; }
.unit-icon-105031 {background-position: -576px -512px; }
.unit-pfp-105031 {background-position: -432px -384px; }
.unit-icon-105111 {background-position: -0px -576px; }
.unit-pfp-105111 {background-position: -0px -432px; }
.unit-icon-105131 {background-position: -64px -576px; }
.unit-pfp-105131 {background-position: -48px -432px; }
.unit-icon-105211 {background-position: -128px -576px; }
.unit-pfp-105211 {background-position: -96px -432px; }
.unit-icon-105231 {background-position: -192px -576px; }
.unit-pfp-105231 {background-position: -144px -432px; }
.unit-icon-105311 {background-position: -256px -576px; }
.unit-pfp-105311 {background-position: -192px -432px; }
.unit-icon-105331 {background-position: -320px -576px; }
.unit-pfp-105331 {background-position: -240px -432px; }
.unit-icon-105411 {background-position: -384px -576px; }
.unit-pfp-105411 {background-position: -288px -432px; }
.unit-icon-105431 {background-position: -448px -576px; }
.unit-pfp-105431 {background-position: -336px -432px; }
.unit-icon-105511 {background-position: -512px -576px; }
.unit-pfp-105511 {background-position: -384px -432px; }
.unit-icon-105531 {background-position: -576px -576px; }
.unit-pfp-105531 {background-position: -432px -432px; }
.unit-icon-105611 {background-position: -0px -640px; }
.unit-pfp-105611 {background-position: -0px -480px; }
.unit-icon-105631 {background-position: -64px -640px; }
.unit-pfp-105631 {background-position: -48px -480px; }
.unit-icon-105711 {background-position: -128px -640px; }
.unit-pfp-105711 {background-position: -96px -480px; }
.unit-icon-105731 {background-position: -192px -640px; }
.unit-pfp-105731 {background-position: -144px -480px; }
.unit-icon-105811 {background-position: -256px -640px; }
.unit-pfp-105811 {background-position: -192px -480px; }
.unit-icon-105831 {background-position: -320px -640px; }
.unit-pfp-105831 {background-position: -240px -480px; }
.unit-icon-105911 {background-position: -384px -640px; }
.unit-pfp-105911 {background-position: -288px -480px; }
.unit-icon-105931 {background-position: -448px -640px; }
.unit-pfp-105931 {background-position: -336px -480px; }
.unit-icon-106011 {background-position: -512px -640px; }
.unit-pfp-106011 {background-position: -384px -480px; }
.unit-icon-106031 {background-position: -576px -640px; }
.unit-pfp-106031 {background-position: -432px -480px; }
.unit-icon-106111 {background-position: -0px -704px; }
.unit-pfp-106111 {background-position: -0px -528px; }
.unit-icon-106131 {background-position: -64px -704px; }
.unit-pfp-106131 {background-position: -48px -528px; }
.unit-icon-106311 {background-position: -128px -704px; }
.unit-pfp-106311 {background-position: -96px -528px; }
.unit-icon-106331 {background-position: -192px -704px; }
.unit-pfp-106331 {background-position: -144px -528px; }
.unit-icon-106811 {background-position: -256px -704px; }
.unit-pfp-106811 {background-position: -192px -528px; }
.unit-icon-106911 {background-position: -320px -704px; }
.unit-pfp-106911 {background-position: -240px -528px; }
.unit-icon-107011 {background-position: -384px -704px; }
.unit-pfp-107011 {background-position: -288px -528px; }
.unit-icon-107111 {background-position: -448px -704px; }
.unit-pfp-107111 {background-position: -336px -528px; }
.unit-icon-107131 {background-position: -512px -704px; }
.unit-pfp-107131 {background-position: -384px -528px; }
.unit-icon-107311 {background-position: -576px -704px; }
.unit-pfp-107311 {background-position: -432px -528px; }
.unit-icon-107511 {background-position: -0px -768px; }
.unit-pfp-107511 {background-position: -0px -576px; }
.unit-icon-107531 {background-position: -64px -768px; }
.unit-pfp-107531 {background-position: -48px -576px; }
.unit-icon-107611 {background-position: -128px -768px; }
.unit-pfp-107611 {background-position: -96px -576px; }
.unit-icon-107631 {background-position: -192px -768px; }
.unit-pfp-107631 {background-position: -144px -576px; }
.unit-icon-107711 {background-position: -256px -768px; }
.unit-pfp-107711 {background-position: -192px -576px; }
.unit-icon-107731 {background-position: -320px -768px; }
.unit-pfp-107731 {background-position: -240px -576px; }
.unit-icon-107811 {background-position: -384px -768px; }
.unit-pfp-107811 {background-position: -288px -576px; }
.unit-icon-107831 {background-position: -448px -768px; }
.unit-pfp-107831 {background-position: -336px -576px; }
.unit-icon-107911 {background-position: -512px -768px; }
.unit-pfp-107911 {background-position: -384px -576px; }
.unit-icon-107931 {background-position: -576px -768px; }
.unit-pfp-107931 {background-position: -432px -576px; }
.unit-icon-108011 {background-position: -0px -832px; }
.unit-pfp-108011 {background-position: -0px -624px; }
.unit-icon-108031 {background-position: -64px -832px; }
.unit-pfp-108031 {background-position: -48px -624px; }
.unit-icon-108111 {background-position: -128px -832px; }
.unit-pfp-108111 {background-position: -96px -624px; }
.unit-icon-108131 {background-position: -192px -832px; }
.unit-pfp-108131 {background-position: -144px -624px; }
.unit-icon-108211 {background-position: -256px -832px; }
.unit-pfp-108211 {background-position: -192px -624px; }
.unit-icon-108231 {background-position: -320px -832px; }
.unit-pfp-108231 {background-position: -240px -624px; }
.unit-icon-108311 {background-position: -384px -832px; }
.unit-pfp-108311 {background-position: -288px -624px; }
.unit-icon-108331 {background-position: -448px -832px; }
.unit-pfp-108331 {background-position: -336px -624px; }
.unit-icon-108411 {background-position: -512px -832px; }
.unit-pfp-108411 {background-position: -384px -624px; }
.unit-icon-108431 {background-position: -576px -832px; }
.unit-pfp-108431 {background-position: -432px -624px; }
.unit-icon-108511 {background-position: -0px -896px; }
.unit-pfp-108511 {background-position: -0px -672px; }
.unit-icon-108531 {background-position: -64px -896px; }
.unit-pfp-108531 {background-position: -48px -672px; }
.unit-icon-108611 {background-position: -128px -896px; }
.unit-pfp-108611 {background-position: -96px -672px; }
.unit-icon-108631 {background-position: -192px -896px; }
.unit-pfp-108631 {background-position: -144px -672px; }
.unit-icon-108711 {background-position: -256px -896px; }
.unit-pfp-108711 {background-position: -192px -672px; }
.unit-icon-108731 {background-position: -320px -896px; }
.unit-pfp-108731 {background-position: -240px -672px; }
.unit-icon-108811 {background-position: -384px -896px; }
.unit-pfp-108811 {background-position: -288px -672px; }
.unit-icon-108831 {background-position: -448px -896px; }
.unit-pfp-108831 {background-position: -336px -672px; }
.unit-icon-108911 {background-position: -512px -896px; }
.unit-pfp-108911 {background-position: -384px -672px; }
.unit-icon-108931 {background-position: -576px -896px; }
.unit-pfp-108931 {background-position: -432px -672px; }
.unit-icon-109011 {background-position: -0px -960px; }
.unit-pfp-109011 {background-position: -0px -720px; }
.unit-icon-109031 {background-position: -64px -960px; }
.unit-pfp-109031 {background-position: -48px -720px; }
.unit-icon-109111 {background-position: -128px -960px; }
.unit-pfp-109111 {background-position: -96px -720px; }
.unit-icon-109131 {background-position: -192px -960px; }
.unit-pfp-109131 {background-position: -144px -720px; }
.unit-icon-109211 {background-position: -256px -960px; }
.unit-pfp-109211 {background-position: -192px -720px; }
.unit-icon-109231 {background-position: -320px -960px; }
.unit-pfp-109231 {background-position: -240px -720px; }
.unit-icon-109311 {background-position: -384px -960px; }
.unit-pfp-109311 {background-position: -288px -720px; }
.unit-icon-109331 {background-position: -448px -960px; }
.unit-pfp-109331 {background-position: -336px -720px; }
.unit-icon-unknown {background-position: -512px -960px; }
.unit-pfp-unknown {background-position: -384px -720px; }
.unit-icon-stars.stars-0 {background-position: 0px -0px; }
.unit-icon-stars.stars-1 {background-position: 0px -10px; }
.unit-icon-stars.stars-2 {background-position: 0px -20px; }
.unit-icon-stars.stars-3 {background-position: 0px -30px; }
.unit-icon-stars.stars-4 {background-position: 0px -40px; }
.unit-icon-stars.stars-5 {background-position: 0px -50px; }
