{% load box %}

<!-- Edit Unit modal -->
<div class="modal fade" id="boxUnitModal" tabindex="-1" aria-labelledby="boxUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="boxUnitModalLabel">Edit Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="boxUnitForm">
                    {% csrf_token %}
                    <div class="equipment">
                        <div class="row">
                            {% equip_range as er %}
                            {% equip_star_range as es %}
                            {% for slot in er %}
                                <div class="col-{% equip_size slot %} mb-1 text-{% equip_align slot %}">
                                <span class="equip-holder" id="equip-{{ slot }}" data-slot="{{ slot }}">
                                    <img class="unequipped"/><img class="equipped"/><br/>
                                    {% for estar in es %}<span class="star" data-num="{{ estar }}">★</span>{% endfor %}
                                </span>
                                </div>
                                {% if slot == 3 %}
                                    <div class="col-4 mb-1 text-center">
                                        <span class="unit-preview-holder"></span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row boxUnitAction">
                        <div class="col-md-12 text-center mb-2">
                            <button type="button" class="btn btn-primary" id="boxUnitMaxAllBtn">Max All</button>
                            <button type="button" class="btn btn-primary" id="boxUnitMinAllBtn">Min All</button>
                            <button type="button" class="btn btn-primary" id="boxUnitEquipAllBtn">Equip All
                            </button>
                            <button type="button" class="btn btn-primary" id="boxUnitRefineAllBtn">Refine All
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="boxUnitRankField">Rank:</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="number" class="form-control" name="rank" id="boxUnitRankField">
                                <span class="input-group-append boxUnitAction">
                                    <button type="button" class="btn btn-secondary" id="boxUnitRankMaxBtn">Max</button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="boxUnitStarField">Star:</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                {% unit_star_range as us %}
                                <span class="form-control unit-star-holder">
                                    {% for ustar in us %}<span class="star" data-num="{{ ustar }}">★</span>{% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="boxUnitLevelField">Level:</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="number" class="form-control" name="level" id="boxUnitLevelField">
                                <span class="input-group-append boxUnitAction">
                                    <button type="button" class="btn btn-secondary" id="boxUnitLevelMaxBtn">Max</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer boxUnitAction">
                <button type="button" class="btn btn-danger" id="boxUnitRemoveBtn">Remove</button>
                <button type="button" class="btn btn-primary" id="boxUnitSaveBtn">Save</button>
            </div>
        </div>
    </div>
</div>