{% extends 'rong/layout.html' %}
{% load unit_icons %}
{% load clan_battle %}
{% load humanize %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ battle.name }} - {{ battle.clan.name }}{% endblock %}

{% block content %}
    <div class="row header mb-3">
        <div class="col-md-6"><h2><a href="{% url 'rong:cb_list' battle.clan.slug %}">{{ battle.clan.name }}</a> &gt; <a
                href="{% url 'rong:cb_view' battle.slug %}">{{ battle.name }}</a> &gt; Hit Log</h2></div>
        <div class="col-md-6 text-right">
            {% can_manage request.user battle as manageable %}
            {% if manageable %}
                <a href="{% url 'rong:cb_add_hit' battle.slug %}" class="btn btn-primary">Add Hit</a>
            {% endif %}
            <a href="{% url 'rong:cb_view' battle.slug %}" class="btn btn-primary">Dashboard</a>
        </div>
    </div>
    <table class="table w-100 cells-middle {% if manageable %}manageable{% endif %}" id="hitLogTable"
           data-battle="{{ battle.slug }}">
        <thead>
        <tr>
            {% if manageable %}
                <th></th>
            {% endif %}
            <th>#</th>
            <th>Day</th>
            <th>Account</th>
            <th>Player</th>
            <th>Team</th>
            <th>Damage</th>
            <th>Lap</th>
            <th>Boss</th>
            <th>Remaining HP</th>
            <th>Attempts</th>
            <th>Hit Type</th>
            {% if manageable %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
    </table>
    <div id="hitLogData" data-url="{% url 'rong:cb_list_hits_data' battle.slug %}" class="d-none"></div>
    <div id="filters">
        <div class="row header mb-3">
            <div class="col-md-6"><h4>Filters</h4></div>
            <div class="col-md-6 text-right">
                <button class="btn btn-primary" id="addFilter">Add Filter</button>
            </div>
        </div>
    </div>
    <form role="form" method="post" id="reorderForm">
        {% csrf_token %}
        <input type="hidden" name="reorderData" id="reorderData" value=""/>
    </form>
{% endblock %}
