{% extends 'rong/layout.html' %}
{% load unit_icons %}
{% load clan_battle %}
{% load humanize %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ battle.name }} - {{ battle.clan.name }}{% endblock %}

{% block content %}
    <div class="row header mb-3">
        <div class="col-md-6"><h2><a href="{% url 'rong:cb_list' battle.clan.slug %}">{{ battle.clan.name }}</a> &gt; <a
                href="{% url 'rong:cb_view' battle.slug %}">{{ battle.name }}</a> &gt; Hit Log</h2></div>
        <div class="col-md-6 text-right">
            {% can_manage request.user battle as manageable %}
            {% if manageable %}
                <a href="{% url 'rong:cb_add_hit' battle.slug %}" class="btn btn-primary">Add Hit</a>
            {% endif %}
            <a href="{% url 'rong:cb_view' battle.slug %}" class="btn btn-primary">Dashboard</a>
        </div>
    </div>
    <table class="table w-100 cells-middle" id="hitLogTable" data-battle="{{ battle.slug }}">
        <thead>
        <tr>
            <th></th>
            <th>Hit #</th>
            <th>Day</th>
            <th>User</th>
            <th>Team</th>
            <th>Damage</th>
            <th>Lap</th>
            <th>Boss</th>
            <th>Remaining HP</th>
            <th>Attempts</th>
            <th>Hit Type</th>
            {% if manageable %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for hit in hits %}
            <tr data-id="{{ hit.id }}" data-name="{{ hit.displayed_username|force_escape }}" data-damage="{{ hit.damage|intcomma }}">
                <td><span class="grippy"></span></td>
                <td>{{ hit.order }}</td>
                <td>{{ hit.day }}</td>
                <td>{{ hit.displayed_username }}</td>
                <td class="text-center">
                    {% if hit.team %}
                        {% for unit in hit.team.units %}
                            {% unit_icon unit.icon stars=unit.star mini=True %}
                        {% endfor %}
                    {% else %}
                        <i>N/A</i>
                    {% endif %}
                </td>
                <td data-sort="{{ hit.damage }}">
                    {% if hit.damage == hit.actual_damage %}
                        {{ hit.damage|intcomma }}
                    {% else %}
                        <span title="{{ hit.actual_damage|intcomma }} actual damage" class="underline-dotted">{{ hit.damage|intcomma }}</span>
                    {% endif %}
                </td>
                <td>{{ hit.boss_lap }}</td>
                <td data-sort="{{ hit.boss_number }}">
                    {% boss_icon battle hit as hit_bicon %}
                    {% boss_name battle hit as hit_bname %}
                    {% enemy_icon hit_bicon alt=hit_bname mini=True %}
                </td>
                <td>{{ hit.boss_hp_left|intcomma }}</td>
                <td data-sort="{{ hit.attempt_count }}">{{ hit.attempt_count }}/{{ hits_per_day }}</td>
                <td>{{ hit.hit_type.value }}</td>
                {% if manageable %}
                    <td>
                        <a href="{% url 'rong:cb_edit_hit' battle.slug hit.id %}" class="btn btn-primary" title="Edit"><i
                            class="fa fa-edit"></i></a>
                        <button class="btn btn-danger delete-button" title="Delete"><i class="fa fa-remove"></i></button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form role="form" method="post" id="reorderForm">
        {% csrf_token %}
        <input type="hidden" name="reorderData" id="reorderData" value=""/>
    </form>
{% endblock %}
