{% extends 'rong/layout.html' %}
{% load clan_battle %}
{% load humanize %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}Clan Battles - {{ clan.name }}{% endblock %}

{% block content %}
    <h2>{{ clan.name }}'s Clan Battles</h2>
    {% if not clan.current_cb and not clan.past_cbs %}
        <p><i>This clan has no Clan Battles defined!</i></p>
    {% endif %}
    {% if clan.current_cb %}
        <h3>{% if clan.current_cb.in_progress %}Current{% else %}Upcoming{% endif %} Clan Battle</h3>
        {% if clan.current_cb.in_progress %}
            {# current #}
            <div class="jumbotron text-center position-relative">
                <div class="row align-items-center mb-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-3">{{ clan.current_cb.name }}</h1>
                    </div>
                    <div class="col-md-3">
                        <div class="row text-left">
                            <div class="col">
                                Day {{ clan.current_cb.current_day }}/{{ clan.current_cb.total_days }}</div>
                        </div>
                        <div class="row text-left">
                            <div class="col">
                                {% if clan.current_cb.next_reset < clan.current_cb.end_time %}
                                    Reset in <b>{{ clan.current_cb.next_reset|timeuntil }}</b>
                                {% else %}
                                    Ends in <b>{{ clan.current_cb.end_time|timeuntil }}</b>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}"><h3>Current Boss</h3></div>
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}"><h3>Clan Progress Today</h3>
                    </div>
                    {% if in_clan %}
                        <div class="col-md-4"><h3>My Hits</h3></div>
                    {% endif %}
                </div>
                <div class="row align-items-center mb-3">
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}">
                        <img src="{% static 'rong/images/enemies/' %}{{ clan.current_cb.current_boss_icon }}.png"/>
                        <p>
                            Lap {{ clan.current_cb.current_lap }} {{ clan.current_cb.current_boss_name }}<br>
                            {{ clan.current_cb.current_hp|intcomma }} HP left
                        </p>
                    </div>
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}">
                        <p>
                            {{ clan.current_cb.hits_today|format_hits }} hits used, {{ clan.current_cb.hits_left_today|format_hits }} left<br/>
                            {{ clan.current_cb.damage_dealt_today|intcomma }} damage
                            dealt, {{ clan.current_cb.bosses_killed_today }} bosses killed
                        </p>
                    <div class="elevated-button-holder">
                        <a href="#" class="btn btn-primary">Hit Log</a>
                    </div>
                    </div>
                    {% if in_clan %}
                        <div class="col-md-4">
                            <p>
                                {% user_hits_today clan.current_cb request.user %} hits
                                used, {% user_hits_left_today clan.current_cb request.user %} left<br>
                                {% user_damage_today clan.current_cb request.user %} damage dealt today
                            </p>
                        </div>
                    {% endif %}
                </div>
                <h3><a href="{% url 'rong:cb_view' clan.current_cb.slug %}" class="stretched-link">Click to open
                    dashboard</a></h3>
            </div>
        {% else %}
            {# upcoming #}
            <div class="jumbotron text-center">
                <div class="row align-items-center mb-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-3">{{ clan.current_cb.name }}</h1>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5">Starts in</div>
                            <div class="col-md-7">{{ clan.current_cb.start_time|timeuntil }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">Ends in</div>
                            <div class="col-md-7">{{ clan.current_cb.end_time|timeuntil }}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    {% for boss in clan.current_cb.boss_list %}
                        <div class="col-boss">
                            <img src="{% static 'rong/images/enemies/' %}{{ boss.icon }}.png"/><br/>
                            {{ boss.name }}
                        </div>
                    {% endfor %}
                </div>
                <h3><a href="{% url 'rong:cb_view' clan.current_cb.slug %}" class="stretched-link">Click to open
                    dashboard</a></h3>
            </div>
        {% endif %}
    {% endif %}
    {% if clan.future_cbs %}
        <h3>Future Clan Battles</h3>
        <table class="table w-100">
            {% for cb in clan.future_cbs %}
                <tr>
                    <td class="align-middle w-15">{{ cb.name }}</td>
                    <td class="align-middle w-55">
                        <div class="row">
                            {% for boss in cb.boss_list %}
                                <div class="col-boss">
                                    <img src="{% static 'rong/images/enemies/' %}{{ boss.icon }}.png"/>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-middle w-15">{{ cb.start_time|date:"Y/m/d" }}-{{ cb.end_time|date:"Y/m/d" }}</td>
                    <td class="align-middle w-15"><a class="btn btn-primary" href="#">Dashboard</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if clan.past_cbs %}
        <h3>Past Clan Battles</h3>
        <table class="table w-100">
            {% for cb in clan.past_cbs %}
                <tr>
                    <td class="align-middle w-15">{{ cb.name }}</td>
                    <td class="align-middle w-55">
                        <div class="row">
                            {% for boss in cb.boss_list %}
                                <div class="col-boss">
                                    <img src="{% static 'rong/images/enemies/' %}{{ boss.icon }}.png"/>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-middle w-15">{{ cb.start_time|date:"Y/m/d" }}-{{ cb.end_time|date:"Y/m/d" }}</td>
                    <td class="align-middle w-15"><a class="btn btn-primary" href="#">Summary</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
