{% extends 'rong/layout.html' %}
{% load unit_icons %}
{% load clan_battle %}
{% load humanize %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}Clan Battles - {{ clan.name }}{% endblock %}

{% block content %}
    <h2>{{ clan.name }}'s Clan Battles</h2>
    {% if not current_cb and not past_cbs and not future_cbs %}
        <p><i>This clan has no Clan Battles defined!</i></p>
    {% endif %}
    {% if current_cb %}
        <h3>{% if current_cb.in_progress %}Current{% else %}Upcoming{% endif %} Clan Battle</h3>
        {% if current_cb.in_progress %}
            {# current #}
            <div class="jumbotron text-center position-relative">
                <div class="row align-items-center mb-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-3">{{ current_cb.name }}</h1>
                    </div>
                    <div class="col-md-3">
                        <div class="row text-left">
                            <div class="col">
                                Day {{ current_cb.current_day }}/{{ current_cb.total_days }}</div>
                        </div>
                        <div class="row text-left">
                            <div class="col">
                                {% if current_cb.next_reset < current_cb.end_time %}
                                    Reset in <b>{{ current_cb.next_reset|timeuntil }}</b>
                                {% else %}
                                    Ends in <b>{{ current_cb.end_time|timeuntil }}</b>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}"><h3>Current Boss</h3></div>
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}"><h3>Clan Progress Today</h3>
                    </div>
                    {% if in_clan %}
                        <div class="col-md-4"><h3>My Hits</h3></div>
                    {% endif %}
                </div>
                <div class="row align-items-center mb-3">
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}">
                        {% enemy_icon current_cb.current_boss_icon alt=current_cb.current_boss_name %}
                        <p>
                            Lap {{ current_cb.current_lap }} {{ current_cb.current_boss_name }}<br>
                            {{ current_cb.current_hp|intcomma }} HP left
                        </p>
                    </div>
                    <div class="{% if in_clan %}col-md-4{% else %}col-md-6{% endif %}">
                        <p>
                            {{ current_cb.hits_today|format_hits }} hits
                            used, {{ current_cb.hits_left_today|format_hits }} left<br/>
                            {{ current_cb.damage_dealt_today|intcomma }} damage
                            dealt, {{ current_cb.bosses_killed_today }} bosses killed
                        </p>
                        <div class="elevated-button-holder">
                            <a href="{% url 'rong:cb_list_hits' current_cb.slug %}" class="btn btn-primary">Hit Log</a>
                        </div>
                    </div>
                    {% if in_clan %}
                        <div class="col-md-4">
                            <p>
                                {% user_hits_today current_cb request.user %} hits
                                used, {% user_hits_left_today current_cb request.user %} left<br>
                                {% user_damage_today current_cb request.user %} damage dealt today
                            </p>
                        </div>
                    {% endif %}
                </div>
                <h3><a href="{% url 'rong:cb_view' current_cb.slug %}" class="stretched-link">Click to open
                    dashboard</a></h3>
            </div>
        {% else %}
            {# upcoming #}
            <div class="jumbotron text-center position-relative">
                <div class="row align-items-center mb-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <h1 class="display-3">{{ current_cb.name }}</h1>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5">Starts in</div>
                            <div class="col-md-7">{{ current_cb.start_time|timeuntil }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">Ends in</div>
                            <div class="col-md-7">{{ current_cb.end_time|timeuntil }}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    {% for boss in current_cb.boss_list %}
                        <div class="col-boss">
                            {% enemy_icon boss.icon alt=boss.name %}<br/>
                            {{ boss.name }}
                        </div>
                    {% endfor %}
                </div>
                <h3><a href="{% url 'rong:cb_view' current_cb.slug %}" class="stretched-link">Click to open
                    dashboard</a></h3>
            </div>
        {% endif %}
    {% endif %}
    {% if future_cbs %}
        <h3>Future Clan Battles</h3>
        <table class="table w-100">
            {% for cb in future_cbs %}
                <tr>
                    <td class="align-middle w-15">{{ cb.name }}</td>
                    <td class="align-middle w-55">
                        <div class="row">
                            {% for boss in cb.boss_list %}
                                <div class="col-boss">
                                    {% enemy_icon boss.icon alt=boss.name %}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-middle w-15">
                        {% if cb.start_time %}
                            {{ cb.start_time|date:"Y/m/d" }}-{{ cb.end_time|date:"Y/m/d" }}
                        {% else %}
                            <i>No dates yet</i>
                        {% endif %}
                    </td>
                    <td class="align-middle w-15"><a class="btn btn-primary" href="{% url 'rong:cb_view' cb.slug %}">Dashboard</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if past_cbs %}
        <h3>Past Clan Battles</h3>
        <table class="table w-100">
            {% for cb in past_cbs %}
                <tr>
                    <td class="align-middle w-15">{{ cb.name }}</td>
                    <td class="align-middle w-55">
                        <div class="row">
                            {% for boss in cb.boss_list %}
                                <div class="col-boss">
                                    {% enemy_icon boss.icon alt=boss.name %}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-middle w-15">{{ cb.start_time|date:"Y/m/d" }}-{{ cb.end_time|date:"Y/m/d" }}</td>
                    <td class="align-middle w-15"><a class="btn btn-primary" href="{% url 'rong:cb_view' cb.slug %}">Summary</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
