{% extends 'rong/layout.html' %}
{% load unit_icons %}
{% load clan_battle %}
{% load humanize %}

{% load static %}
{% load bootstrap4 %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block title %}{{ battle.name }} - {{ battle.clan.name }}{% endblock %}

{% block content %}
    <div class="w-100 text-center mb-3"><h2 class="display-2">{{ battle.name }}</h2></div>
    {% can_manage request.user battle as manageable %}
    {% if battle.in_progress %}
        <div class="jumbotron text-center position-relative">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    {% enemy_icon battle.current_boss_icon alt=battle.current_boss_name %}
                    <p>
                        Lap {{ battle.current_lap }} {{ battle.current_boss_name }}<br>
                        {{ battle.current_hp|intcomma }} HP left<br>
                        {{ battle.hits_today|format_hits }}/{{ battle.total_daily_hits|format_hits }} clan hits today
                        {% if battle.damage_dealt_today %}
                            <br>{{ battle.damage_dealt_today|intcomma }} damage dealt today
                            {% if battle.bosses_killed_today %}
                                <br>{{ battle.bosses_killed_today }} bosses killed today
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-8 text-left">
                    <div class="row">
                        <div class="col">Day {{ battle.current_day }}/{{ battle.total_days }}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if battle.next_reset < battle.end_time %}
                                Reset in <b>{{ battle.next_reset|timeuntil }}</b>
                            {% else %}
                                Ends in <b>{{ battle.end_time|timeuntil }}</b>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col"><p>Placeholder for plans once implemented</p></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row align-items-start">
                <div class="col-md-6">
                    <div class="row header align-items-center">
                        <div class="col-md-8 text-left"><h4>Clan Hit Log</h4></div>
                        <div class="col-md-4"><a href="{% url 'rong:cb_list_hits' battle.slug %}"
                                                 class="btn btn-primary">Details</a></div>
                    </div>
                    <div class="row">
                        <div class="col hitlog">
                            {% if hits %}
                                {% for hit in hits %}
                                    <div class="hit">
                                        <div class="info"><b>{{ hit.displayed_username }}</b> attacked
                                            <b>{% boss_name battle hit %}</b> for
                                            <b>{{ hit.damage|intcomma }}</b> damage{% if hit.killing_blow %}
                                                (Victory){% endif %}
                                        </div>
                                        <div class="timestamp">{{ hit.timestamp }}</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="d-flex align-items-center h-100">
                                    <p class="w-100"><i>No hits registered... yet!</i></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if in_clan %}
                    <div class="col-md-6">
                        <div class="row header align-items-center">
                            <div class="col-md-4 text-left"><h4>My Hits</h4></div>
                            <div class="col-md-4">{% user_hits_today battle request.user %} hits
                                used, {% user_hits_left_today battle request.user %} left
                            </div>
                            <div class="col-md-4"><a href="#" class="btn btn-primary">Personal Logs</a></div>
                        </div>
                        <div class="row">
                            <div class="col hitlog">
                                {% if myhits %}
                                    {% for hit in myhits %}
                                        <div class="hit">
                                            <div class="info">You attacked <b>{% boss_name battle hit %}</b> for
                                                <b>{{ hit.damage|intcomma }}</b> damage{% if hit.killing_blow %}
                                                    (Victory){% endif %}
                                            </div>
                                            <div class="timestamp">{{ hit.timestamp }}</div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="d-flex align-items-center h-100">
                                        <p class="w-100"><i>No hits registered... yet!</i></p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% elif battle.ended %}
        <p>This CB ended {{ battle.end_time|naturaltime }}.</p>
        <a href="{% url 'rong:cb_list_hits' battle.slug %}" class="btn btn-primary">Hit Log</a>
    {% else %}
        <p>
            {% if battle.start_time %}
                This CB starts in {{ battle.start_time|naturaltime }}.
            {% else %}
                This is a future CB without dates set yet.
            {% endif %}
        </p>
    {% endif %}
    <hr>
    {% if battle.in_progress or battle.ended %}
        {% if manageable %}
            <h2>Stats</h2>
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item"><a href="#hits-used" data-toggle="tab"
                                        class="nav-link small active">Hits Used</a></li>
                <li class="nav-item"><a href="#dps-daily" data-toggle="tab" class="nav-link small">DPS
                    (Daily)</a></li>
                <li class="nav-item"><a href="#score-daily" data-toggle="tab" class="nav-link small">Score
                    (Daily)</a></li>
                <li class="nav-item"><a href="#ascore-daily" data-toggle="tab" class="nav-link small">Normalized Score
                    (Daily)</a></li>
                {% if battle.hit_stats.tags %}
                    <li class="nav-item"><a href="#tagged-hits" data-toggle="tab" class="nav-link small">Tagged Hits</a>
                    </li>
                {% endif %}
                <li class="nav-item"><a href="#pilots-clashes" data-toggle="tab" class="nav-link small">Pilots (#
                    Clashes)</a></li>
                <li class="nav-item"><a href="#pilots-hitcount" data-toggle="tab" class="nav-link small">Pilots (Hit
                    Count)</a></li>
                {% if battle.comp_stats %}
                    <li class="nav-item"><a href="#comp-stats" data-toggle="tab" class="nav-link small">Comp Stats</a>
                    </li>
                {% endif %}
            </ul>
            <br>
            <div id="tabsContent" class="tab-content">
                <div id="hits-used" class="tab-pane active show">
                    <table class="dt w-100 table dt-noPaging stats-table" id="hitsUsedTable">
                        <thead>
                        <tr>
                            <th>Player</th>
                            {% for day in battle.day_range %}
                                <th>Day {{ day }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in battle.hit_stats.players %}
                            {% if player.in_clan %}
                            <tr>
                                <td>{{ player.member.user_display_name }}</td>
                                {% for day in player.days %}
                                    {% day_reached battle forloop.counter as active %}
                                    {% if active %}
                                        <td data-hits="{{ day.hits|format_hits }}">{{ day.hits|format_hits }}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="dps-daily" class="tab-pane">
                    {% include "rong/includes/cb_damagetable.html" with name="DMG" table_id="damageDailyTable" day_total_key="damage" day_ind_key="hit_damage" total_key="total_damage" summary_daily="daily_damage" summary_cumu="cumu_damage" %}
                </div>
                <div id="score-daily" class="tab-pane">
                    {% include "rong/includes/cb_damagetable.html" with name="Score" table_id="scoreDailyTable" day_total_key="score" day_ind_key="hit_score" total_key="total_score" summary_daily="daily_score" summary_cumu="cumu_score" %}
                </div>
                <div id="ascore-daily" class="tab-pane">
                    {% include "rong/includes/cb_damagetable.html" with name="Norm. Score" table_id="ascoreDailyTable" day_total_key="ascore" day_ind_key="hit_ascore" total_key="total_ascore" summary_daily="daily_ascore" summary_cumu="cumu_ascore" %}
                </div>
                {% if battle.hit_stats.tags %}
                    <div id="tagged-hits" class="tab-pane">
                        <table class="dt w-100 table dt-noPaging stats-table" id="taggedHitsTable">
                            <thead>
                            <tr>
                                <th>Player</th>
                                {% for tag in battle.hit_stats.tags %}
                                    <th>{{ tag.name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in battle.hit_stats.players %}
                                <tr>
                                    <td>{{ player.member.user_display_name }}</td>
                                    {% for amount in player.tags %}
                                        <td>{{ amount }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Totals</th>
                                {% for tag in battle.hit_stats.tags %}
                                    <th>{{ tag.total }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                {% endif %}
                <div id="pilots-clashes" class="tab-pane">
                    {% include "rong/includes/cb_pilottable.html" with table_id="pilotsClashesTable" data=battle.pilot_stats_clashes %}
                </div>
                <div id="pilots-hitcount" class="tab-pane">
                    {% include "rong/includes/cb_pilottable.html" with table_id="pilotsHitcountTable" data=battle.pilot_stats_hitcount %}
                </div>
                {% if battle.comp_stats %}
                    <div id="comp-stats" class="tab-pane">
                        {{ battle.comp_stats|json_script:"compStats" }}
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Comp: <select id="compStatsSelector"></select></h3>
                                <table class="w-100 table dt dt-noPaging" id="compHitsTable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Attacker</th>
                                        <th>Lap</th>
                                        <th>Damage</th>
                                        <th>%ile</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <h3>Damage Summary</h3>
                                <table class="table">
                                    <tr>
                                        <th>Mean</th>
                                        <td id="compStatsMean"></td>
                                    </tr>
                                    <tr>
                                        <th>Minimum</th>
                                        <td id="compStatsMinimum"></td>
                                    </tr>
                                    <tr>
                                        <th>Lower Quartile</th>
                                        <td id="compStatsLQ"></td>
                                    </tr>
                                    <tr>
                                        <th>Median</th>
                                        <td id="compStatsMedian"></td>
                                    </tr>
                                    <tr>
                                        <th>Upper Quartile</th>
                                        <td id="compStatsUQ"></td>
                                    </tr>
                                    <tr>
                                        <th>Maximum</th>
                                        <td id="compStatsMaximum"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <h3>Hitter Summary</h3>
                                <table class="w-100 table dt dt-noPaging" id="compHittersTable"
                                       data-order='[[4, "desc"], [0, "asc"]]'>
                                    <thead>
                                    <tr>
                                        <th>Attacker</th>
                                        <th>Hit Count</th>
                                        <th>Mean</th>
                                        <th>Median</th>
                                        <th>Average %ile</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <hr>
        {% endif %}
    {% endif %}
    <h2>Boss Info</h2>
    <table class="table w-100">
        <thead>
        <tr>
            <th></th>
            {% for boss in battle.boss_list %}
                <th class="text-center">
                    {% enemy_icon boss.icon %}<br>
                    {{ boss.name }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for phase in battle.bosses.all %}
            <tr>
                <th>Phase {{ forloop.counter }}<br>
                    {% if not phase.lap_to %}
                        Lap {{ phase.lap_from }}+
                    {% elif phase.lap_from == phase.lap_to %}
                        Lap {{ phase.lap_from }}
                    {% else %}
                        Laps {{ phase.lap_from }}-{{ phase.lap_to }}
                    {% endif %}</th>
                {% for boss in phase.boss_list %}
                    <td class="text-center">
                        Lv{{ boss.level }}<br>
                        HP {{ boss.hp|intcomma }}<br>
                        {{ boss.pdef }} PDEF / {{ boss.mdef }} MDEF
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
