{% extends 'rong/layout.html' %}

{% load unit_icons %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home</h2>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.name }}.</p>
    <h3>A good team</h3>
    <p>
        {% box_icon '104701' 2 4 %}
    {% unit_icon '103831' 64 border='gold' stars=5 %}
    {% unit_icon '102831' 64 border='gold' stars=4 %}
    {% unit_icon '104331' 64 border='gold' stars=5 %}
    {% unit_icon '101731' 64 border='gold' stars=5 %}
    {% unit_icon '104731' 64 border='gold' stars=4 %}
    </p>
{% else %}
    <a href='{% url 'rong:discordlogin' %}'>Login</a>
{% endif %}
{% endblock %}
