<!DOCTYPE html>
{% load bootstrap4 %}
{% load unit_icons %}
<html lang="en-US">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title>Rong - {% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    {% load static %}
    <link rel='shortcut icon' type='image/x-icon' href='{% static "rong/favicon.ico" %}' />
    <link rel="stylesheet" type="text/css" href="{% static 'rong/styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rong/styles/unit_icons.css' %}">
    {% block extra_head %}{% endblock %}

    <!-- Bootstrap JavaScript if it is in head -->
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'rong/js/modernizr.js' %}"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'rong:index' %}">Rong</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rong:box_index' %}">My Box</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Clan Battle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PvP</a>
                        </li>
                    {% endif %}
                  </ul>
                  <ul class="navbar-nav align-items-center">
                    {% if user.is_authenticated %}
                        <!-- display pic here -->
                        <li class="nav-item">
                            {% unit_icon user.display_pic pfp=True %}
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userSettingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                                {{ user.name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userSettingsDropdown">
                                <a class="dropdown-item" href="{% url 'rong:preferences' %}">Preferences</a>
                                <a class="dropdown-item" href="{% url 'rong:logout' %}">Logout</a>
                            </div>
                        </li>
                      {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rong:discordlogin' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        
        {% bootstrap_messages %}
        
        {% block content %}{% endblock %}
    </div>
    
    <hr />

<!-- Bootstrap JavaScript if it is in body -->

{% block extra_script %}{% endblock %}

</body>

</html>
